<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">

    <link rel="stylesheet" href="{{static_url('css/ol.css')}}" type="text/css">
    <link rel="stylesheet" href="{{static_url('resources/bootstrap/css/bootstrap.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{static_url('resources/layout.css')}}" type="text/css">
    <link rel="stylesheet" href="{{static_url('resources/bootstrap/css/bootstrap-responsive.min.css')}}" type="text/css">

    <title>Earthquakes in KML</title>
    <style>
      #map {
        position: relative;
      }
      #info {
        position: absolute;
        height: 1px;
        width: 1px;
        z-index: 100;
      }
      .tooltip.in {
        opacity: 1;
        filter: alpha(opacity=100);
      }
      .tooltip.top .tooltip-arrow {
        border-top-color: white;
      }
      .tooltip-inner {
        border: 2px solid white;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">

      <div class="row-fluid">
        <div class="span12">
          <div id="map" class="map"><div id="info"></div></div>
        </div>
      </div>

    </div>

    <script src="{{static_url('jquery.min.js')}}" type="text/javascript"></script>
    <script src="{{static_url('ol.js')}}" type="text/javascript"></script>
    <script src="{{static_url('resources/bootstrap/js/bootstrap.min.js')}}" type="text/javascript"></script>
    <script src="{{static_url('kml-earthquakes.js')}}" type="text/javascript"></script>
    <!--script src="{{static_url('resources/example-behaviour.js')}}" type="text/javascript"></script -->

  </body>
</html>