<html>
  <head>
      <title>OpenLayers KML Example</title>
      <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
  </head>
  <body>
  <div id="mapdiv"></div>
  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
  
  <script>
  var kml_projection = new OpenLayers.Projection("EPSG:4326");
  var google_projection = new OpenLayers.Projection("EPSG:900913");
  var map = new OpenLayers.Map("mapdiv");
  var osm = new OpenLayers.Layer.OSM();
  var google_map = new OpenLayers.Layer.Google(
    'Google Layer',
    {}
  );

  var kmllayer = new OpenLayers.Layer.Vector("KML", {
          strategies: [new OpenLayers.Strategy.Fixed()],
          protocol: new OpenLayers.Protocol.HTTP({
              url: "{{static_url('eq.KML')}}",
              format: new OpenLayers.Format.KML({
                  extractStyles: true, 
                  extractAttributes: true,
                  maxDepth: 2
              })
          }),
          
            style: new ol.style.Style({rules: [
            new ol.style.Rule({
              symbolizers: [
                new ol.style.Fill({
                  color: 'white',
                  opacity: 0.6
                }),
                new ol.style.Stroke({
                  color: '#319FD3',
                  opacity: 1
                })
              ]
            }),
            new ol.style.Rule({
              maxResolution: 5000,
              symbolizers: [
                new ol.style.Text({
                  color: 'black',
                  text: ol.expr.parse('description'),
                  fontFamily: 'Calibri,sans-serif',
                  fontSize: 12,
                  stroke: new ol.style.Stroke({
                    color: 'white',
                    width: 3
                  })
                })
              ]
            })
          ]})
      });


  var displayFeatureInfo = function(pixel) {
    info.css({
      left: pixel[0] + 'px',
      top: (pixel[1] - 15) + 'px'
    });

    map.getFeatures({
      pixel: pixel,
      layers: [vector],
      success: function(layerFeatures) {
        var feature = layerFeatures[0][0];
        if (feature) {
          info.tooltip('hide')
              .attr('data-original-title', feature.get('description'))
              .tooltip('fixTitle')
              .tooltip('show');
        } else {
          info.tooltip('hide');
        }
      }
    });  };

  $(map.getViewport()).on('mousemove', function(evt) {
    var pixel = map.getEventPixel(evt.originalEvent);
    displayFeatureInfo(pixel);
  });

  map.on('singleclick', function(evt) {
    var pixel = evt.getPixel();
    displayFeatureInfo(pixel);
  });

  map.addLayer(google_map);
  map.addLayer(kmllayer); 




  </script>
  
</body></html>    

//open layers for localhost
//get description from KML
//read KMZ files
//change map layer